.name-header {
    background-color: rgb(20, 20, 20);
    height: 100%;
}

.nav-object-padding {
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 25px;
    padding-right: 25px;
    margin: auto;
}

.rm-padding {
    padding: 0;
}

.nav-link {
    color: white;
}

footer {
    background-color: rgb(43, 43, 43);
    color: white;
}

.navbar {
    background-color: rgb(43, 43, 43);
    color: white;
    height: 100%;
}

@media screen and (max-width: 768px) {
    .name-header {
        width: 100%;
        margin: auto;
        text-align: center;
    }

    .m-auto-sm {
        margin-left: auto;
        margin-right: auto;
    }

    .txt-sm-center {
        text-align: center;
    }
}

@media screen and (min-width: 768px) {
    .name-header {
        margin-left: 5%;
    }

    .ml-auto-lg {
        margin-left: auto;
    }
}
